@import "../../../partials/mixins";

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.profile {
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;

  @include tablet {
    height: 72vh;
  }

  &__bandinfo {
    display: flex;
    flex-direction: column;
    height: 20%;
    margin: auto;
    flex-wrap: wrap;
    color: whitesmoke;
    

    @include desktop {
        height: 10rem;
    }
  }

  &__memberlist {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: whitesmoke;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20%;

    @include tablet {
      flex-direction: row;
      margin-bottom: 40%;
    }
  }

  &__member {
    background: none;
 
    margin-left: auto;
    margin-right: auto;
    font-size: .75rem;
  }

  &__header {
    color: whitesmoke;
  }

  &__biography {
    color: whitesmoke;
    text-align: left;
    overflow-y: scroll;
    margin: 1rem .5rem 1rem .5rem;
    height: 32rem;
    font-size: .75rem;
    @include tablet {
        height: 38rem;
        font-size: .92rem;
        margin-bottom: 0;
    }
    @include desktop {
        height: 21rem;
    }
  }
}
