@import "../../../partials/mixins";

body,
html {
  padding: 0;
  margin: 0;
}

.profile {
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &__bandinfo {
    display: flex;
    flex-direction: column;
    color: whitesmoke;

    @include desktop {
    }
  }

  &__container {
    @include desktop {
     display: flex;
     flex-direction: column;
    }
  }

  &__memberlist {
    color: whitesmoke;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include tablet {
      flex-direction: row;
      margin-bottom: 40%;
    }
  }

  &__member {
    background: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
  }

  &__imagelist {
    

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
    }
  }

  &__image {
    height: 4rem;
    border-radius: .5rem;
  }

  &__header {
    color: whitesmoke;
  }

  &__biography {
    color: whitesmoke;
    text-align: left;
    overflow-y: scroll;
    margin: 1rem 0.5rem 1rem 0.5rem;

    @include desktop {
      margin: 1rem;
    }
  }
}
