@import "./../../../partials/mixins";

.releases {


  &__banner-container {
    width: 100%;
    border-bottom: solid 1px white;
  }
  &__banner {
    height: auto;
    width: 50%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
   
  }

  &__header {
    margin: 0.75rem 0 1rem 0;
    color: whitesmoke;
  }

  &__header-two {
    color: whitesmoke;
    position: fixed;
    width: 33%;

    
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px white;
  }

  &__flex-one {
    border-right: solid 1px white;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-top: 1.5%;
  }

  &__flex-two {
    border-right: solid 1px white;
    width: 33%;
  }

  &__image-thumb {
    @include desktop {
      height: auto;
      width: 28rem;
      top: 6.55rem;
     
      position: relative;
    }
  }

  &__flex-three {
    width: 33%;
  }

  &__title:hover {
    padding-top: 1rem;
    background-color: rgb(30, 30, 129);
    opacity: 70%;
    color: lightblue;
  }

  &__title {
    background-color: rgb(30, 30, 129);
    color: whitesmoke;
    font-size: 1rem;
    overflow: scroll;
    padding-top: 1rem;
    width: 100%;
    border-radius: 1rem;;
   
  }

  &__title-active {
    padding-top: 1rem;
    background-color: rgb(12, 12, 12);
    opacity: 70%;
    color: rgb(20, 176, 228);
  }

  &__description {
    @include desktop {
      color: whitesmoke;
      text-align: left;
      width: 31.5%;
      height: 100%;
      margin-left: 1rem;
      margin-top: 7%;
      position: fixed;
      font-size: .65rem;
    }
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a:visited {
  background-color: black;
}
