@import "./../../../partials/mixins";

.media {
  height: 100vh;
  &__banner-container {
    width: 100%;
    border-bottom: solid 1px white;
  }
  &__banner {
    height: auto;
    width: 50%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  &__header {
    @include desktop {
      margin: 0.75rem 0 1rem 0;
      color: whitesmoke;
      font-size: 2rem;
    }
  }

  &__hidden {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px white;
  }

  &__flex-one {
    border-right: solid 1px white;
    width: 50%;
    padding-top: 1.5%;
    overflow-x: auto;
    height: 100vh;
  }

  &__flex-two {
    width: 60%;
    height: 100vh;
    overflow-x: auto;
  }

  &__videolist {
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin: auto;
      position: relative;
      top: 5rem;
      overflow-x: auto;
    }
  }

  &__videoitem {
    @include desktop {
      flex-basis: 25%;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      border: 1px solid white;
      border-radius: 1rem;
      padding: 1rem 0;
      overflow-x: auto;

      &:hover {
        background-color: rgb(30, 30, 129);
      }
    }
  }
  &__thumb {
    height: 8rem;
    margin:auto;
  }

  &__text {
    text-align: center;
    margin: auto;
    width: 10rem;
    font-size: .6rem;
  }
}

.player {
  height: 40vh;
  max-height: 45vh;
  width: 40vw;
  border: solid 1px white;
  border-radius: 1rem;
  position: relative;
  top: 7.5rem;
}
