html,
body {
  background-image: url("./../../assets/images/hero-image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.results {
  &__container {
    position: absolute;
    top: .5rem;
    bottom: .5rem;
    right: .25rem;
    left: .25rem;
    border: rgb(73, 83, 141) solid 0.5rem;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
  }

  &__banner {
    height: auto;
    width: 100%;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
  }
}
