@import "../../partials/mixins";

html,
body {
  background-image: url("./../../assets/images/hero-image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  min-height: 100%;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.726);
  background-blend-mode: multiply;
  padding: 0;
  margin: 0;
}

.results {
  &__banner-container {
    width: 100%;
    border-bottom: solid 1px white;
  }

  &__banner {
    height: auto;
    width: 50%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  .profile {
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;

    ::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    &__container-one {
      border-top: solid 1px white;
      width: 100%;
      display:flex;
      flex-direction: column;
      text-align: center;
    }

    &__biography {
      color: whitesmoke;
      text-align: center;
      overflow: scroll;
      margin: 1rem 0.5rem 1rem 0.5rem;

      @include desktop {
        margin: 3vrem auto 0 auto;
        font-size: 80%;
        width: 80%;
        height: 30%;
      }
    }

    &__bandinfo {
      @include desktop {
        display: flex;
        flex-direction: column;
        color: whitesmoke;
      }
    }

    &__container-two {
      @include desktop {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }
    }

    &__memberlist {
      color: whitesmoke;
      list-style: none;
      display: flex;

      @include desktop {
        flex-direction: row;
        margin-bottom: 0;
      }
    }

    &__member {
      background: none;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.75rem;
    }

    &__imagelist {
      @include desktop {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        flex-basis: 5rem;
      }
    }

    &__image {
      @include desktop {
        height: 13rem;
        border-radius: 0.5rem;
        max-width: 10rem;
      }
    }

    &__header {
      @include desktop {
        margin: 0.75rem 0 1rem 0;
        color: whitesmoke;
        font-size: 2rem;
      }
    }

    &__header-two {
      color: whitesmoke;
      margin: 0;
      
      &__biography {
        width: 40%;
        text-align: center;
        position: relative;
        top: 2rem;
      }
    }

    &__container {
      display: flex;
      top: 5rem;
    }

    &__gallery {
      height: 10rem;
      width: 15rem;
      
     
    }
  }
}
