html,
body {
  background-image: url("./../../assets/images/hero-image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.results {
  &__container {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      right: 1rem;
      left: 1rem;
      border: rgb(96, 116, 231) solid .5rem;  
      border-radius: 1rem;
      background-color: rgb(0, 0, 0);
      opacity:.8
  }
}
