@import "../../../partials/mixins";

.footer {
  &__nav {
    background-color: black;
    @include desktop {
      position: absolute;
      bottom: 0rem;
      width: 100%;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      height: 4.5rem;
    }
  }

  &__ul {
    @include desktop {
      display: flex;
      justify-content: space-evenly;
      color: white;
      list-style: none;
      background-color: black;
    }
  }

  &__link {
    @include desktop {
      border: solid 1px whitesmoke;
      border-radius: 1rem;
      padding: 1rem 6%;
      text-decoration: none;
      &:hover {
        background-color: lightblue;
        color: navy;
      }
    }
  }
}

a {
  text-decoration: none;
  color: lightblue;
  &:visited {
    color: lightblue;
  }
  &:hover {
    color: navy;
  }
}
